*, html, #root {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'calibri', sans-serif;
	font-size:1.2rem;
}

.container {
	width: 100%;
}

.container .content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.location {
	margin-top: 20px;
}

#map {
	width: 400px;
	height: 400px;
	margin-top: 20px;
}